/*base classes*/
.f-l {
	float: left;
}
.f-r {
	float: right;
}
.clear {
	clear: both;
}
/*section-1*/
.h4-box {
	margin: 82px 0 0 163px;
}
.h4 {
	font-size: 14px;
	color: #5863F8;
	font-family: 'Poppins-B';
}
.h2-box {
	width: 498px;
	margin: 1px 783px 50px 163px;
}
.h2 {
	font-size: 42px;
	color: #000000;
	font-family: 'Poppins-EB';
}
.contayner {
	margin: 0 0 0 163px;
	width: 1088px;
}
.box-l {
	width: 536px;
    background-color: #F8F8F8;
    margin: 0 16px 16px 0;
}
.box-r {
	width: 536px;
	background-color: #F8F8F8;
    margin: 0 0 16px 0;
}
.h3 {
	font-size: 18px;
	color: #000000;
	font-family:'Poppins-SB';
}
.p {
    font-size: 14px;
    color: #B1B1B1;
	font-family: 'Poppins-M';
	margin: 10px 0 0 0;
}
.text-box {
	width: 260px; 
	margin: 37px 0 0 16px;
}
/*section-2*/
.box-1 {
	height: 360px;
    background-color: #F8F8F8;
    margin: 0 10px 10px 0;
}
.text-box-1 {
	width: 260px; 
	margin: 23px 0 0 46px;
	text-align: center;
}